<html>
<head></head>
<body>
<h1>Spring Security Demo Login</h1>
<form name='f' action="login" method='POST'>
  <table>
    <tr>
      <td>User:</td>
      <td><input type='text' name='username' value=''></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type='password' name='password' /></td>
    </tr>
    <tr>
      <td><label for="remember-me">Remember me?</label></td>
      <td><input type='checkbox' id="remember-me" name='remember-me' /></td>
    </tr>
    <tr>
      <td><input name="submit" type="submit" value="submit" /></td>
    </tr>
  </table>
</form>
</body>
</html>